doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    title Document
  body
    .container-fluid.mt-3
      .row
        .col-12
          .card
            .card-body
              form#message-form
                input#input-message.form-control(type="text" name="message" placeholder="Mensaje")
                button.btn.btn-dark.btn-block.mt-2(type="submit") Submit
      #messages.row.mt-3
        for message in messages
          .col-10
            .card
              .card-body
                h5.card-title= message.userName
                p= message.message
      .row
        .col
          span#users

    script(src="socket.io/socket.io.js")
    script(src="socket-client.js")
