doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    title Document
  body
    .container.mt-3
      .row
        .col
          .card
            .card-body
              form(action="/" method="GET")
                input.form-control(type="text" name="username" placeholder="Username")
                button.btn.btn-dark.btn-block.mt-2(type="submit") Submit
